@import '../../../constants/_variables.scss';

.header {
    display: flex;

    h1 {
        font-size: 2rem;
        line-height: 1;
        font-weight: normal;
    }

    .description {
        font-size: 1rem;
        color: $app-color;
    }
}

.information {
    font-size: 1rem;
}