service cloud.firestore {
  match /databases/{database}/documents {
    match /bikes/{$bike} {
        allow read, write: if request.auth.uid == null;
    }
  }
}