@import '../../constants/_variables.scss';

.app {
  text-align: center;

  .header {
    background-color: $light-color;
  }
}

header {
  background-color: $light-color;
  padding: 2rem;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;

  @media (min-width: $breakpoint-medium) {
    display: flex;
    align-items: flex-end;
  }
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  line-height: 1;
  font-weight: normal;
  color: $app-color;
}

body {
  font-size: 1rem;
}

button {
  padding: 1rem;
  border: none;
  background: $blue-color;
  color: $light-color;
  border-radius: 20px;
}