// variables.scss
$font-family: 'Montserrat',
sans-serif;
// color
$light-color: #fff;
$dark-color: #000;

:export {
    fontFamily: $font-family;
    // color
    lightColor: $light-color;
    darkcolor: $dark-color;
}