@import '../../constants/_variables.scss';

header {
    background-color: $light-color;
    padding: 2rem;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;

    @media (min-width: $breakpoint-medium) {
        display: flex;
        align-items: flex-end;
    }
}